body{
    background-image: url(/img/pecana.jpg);
}
h1{
    color:white;
    font-family: 'Poor Story', cursive;
}
p{
    color: #8C7961;
}
p{
    text-align: center;
    font-size: xx-large;
    font-family: 'Poor Story', cursive;
}